<main>
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 class="text-center"> {{case.title}} </h2>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      <!--
      <ngb-carousel *ngIf="images">
        <div *ngFor="let image of images">
          <ng-template ngbSlide>
            <img [src]="image" alt="Random third slide">
            <div class="carousel-caption">
              <p>{{case.description}}</p>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    -->
    </div>
  </div>
</main>
