<main>
  <div class="row justify-content-center">
    <div class="col-6">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-6">
      <h3>
        Qlanir, service to organize business / private relationships. Several types of entities: Person, Organization, Service -
        user could create their own entities, set up links bwtween them, define objects and relations properties. Service provides
        greate search capabilities such as search across relations, find shortest paths, explore links graph, etc.
      </h3>

      <h4>
        Back end framework
      </h4>

      Microsoft Asp.NET (C#)

      <h4>Data bases</h4>

      MS SQL responsible for “backup” data, elastic search and neo4j structure could be restored from it at any moment.
      <br/> Elastic search is responsible for text search - fuzzy search, custom ranking etc.
      <br/> Neo4j allows to traverse and search relations graph efficiently, provides algorithms to find shortest paths between
      entities.
      <br/>
      <h4>Web application</h4>

      Framework angularjs (coffescript + modularized jade templates)

      <h4>Authentication</h4>

      NodeJs app using OAuth Json Web Tokens, supports connection to external authentication providers (google, facebook etc).

    </div>
  </div>
</main>