<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row" *ngFor="let row of rows; trackBy: trackBy">

        <div class="col-md-4" *ngFor="let cse of row; trackBy: trackByCase" [routerLink]="cse.id">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" [src]="caseImageUrl(cse)" [alt]="cse.description">
            <div class="card-body">
              <p class="card-text">{{cse.title}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>