<main role="main">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>We are not fit-all-sizes developers but it could be what your team prefect match to you project
      needs.</h2>
    
      <ul>
      
        Benefits to work with us
      
        <li> Long ago established team, working together for 5+ years</li>
      
        <li> Excellent communication inside and outside team, everybody knows whats going on</li>
      
        <li> Transparency who works on what</li>
      
        <li> Clear road-map and deadlines</li>
      
        <li> Established workflow to deliver quality product in adequate time</li>
    
      </ul>
    
      <ul>
      
        Your experience
      
        <li>
          Front-end: Angular • Ionic
        </li>
        <li>
          Back-end: C# • F# • node
        </li>
        <li>
          Data Bases: MongoDB • CosmosDB • MS SQL • Neo4j • ElasticSearch
        </li>
        <li>
          Cloud service: Amazon • Azure
        </li>
        <li>
          UX / Design: HTML • CSS • Scss • Flex • BEM • Bootstrap
        </li>
    
      </ul>
    
      <p class="lead">
        All of us working as a regular developers long time before we met and happens we working on the same outsource
        project as
        contractors, some time about 5 five years ago. After we move between projects and employees together, and times
        come we understand what better to work with real contractors directly without proxies and unnecessary
        management.
        We believe it will benefits both sides: you will have direct access to development team (of cause if you want
        to) and clear understanding whats really going on without delays and misinterpretations.
        <br>
        <br> We intentionally do not use expressions like top notch, best and rock stars, we just the team of
        professionals
        who knows their work.
        <br>
        <br> Contact us, describe project and in short time we provide outline of the project road-map.
      </p>
    </div>
  </div>
</main>
